
.container{
  display: flex;
  flex-direction: column;
}


.box{
  display: block;
  width: 90%;
  max-width: 1100px;
  /*height: 150px;*/
  margin: 20px;
  padding: 10px;
  border: solid 1px #ff0000;
}
.box-1{
  display: flex;
}
.box-child-1{
flex-grow: 1;
height: 370px;

}

.box-child-2{
flex-basis: 420px;
flex-grow: 2;
}

.box-2{
display: flex;
}


.box-3{
flex-basis: 10%;

}
.box-child-3{
flex-grow: 1;
height: 200px;
}

.box-child-4{
  flex-grow:1;
}
.box-child-5{
  flex-grow:1;
}
