.box{
  max-width: 1100px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box{
  display: block;
  width: 96%;
  /*height: 150px;*/
  margin: 20px;
  padding: 10px;
  max-width: 1100px;
  border: solid 1px #ff0000;
}

.box-1{
  flex-basis: 10%;
}

.box-2{
  display: flex;
}

.box-child-01{
  flex-basis: 250px;
  height: 100px;

}
.box-child-02{
  flex-grow: 2;
}

.box-3{
  display: flex;
}
.box-child-03{
  flex-grow: 1;
  height: 200px;
}
.box-child-04{
  flex-grow: 1;
}
.box-child-05{
  flex-grow: 1;
}
.box-child-06{
  flex-grow: 1;
}
.box-4{
  display: flex;
  justify-content: center;
}

.box-child-07{
  flex-basis: 50%;
  height: 110px;
  border-top: 0;
  border-bottom: 0;
}
