@charset "UTF-8";

.container{
    display: flex;
    flex-direction: column;
    border: solid 1px #ff0000;
}

.box{
    display: block;
    width: 90%;
    margin: 20px;
    padding: 10px;
    max-width: 1100px;
  
}

.box-1{
    display: flex;
}

.border{
    border: solid 1px #ff0000
}

.box-child-1{
    flex-grow: 1;
    height: 370px;
}

.box-child-2{
    flex-grow: 2;
    flex-basis: 420px;
}

.box-2{
    display: flex;
}

.box-3{
    flex-basis: 10%;
}

.box-child-3{
    flex-grow: 1;
    height: 200px;
}

.box-child-4{
    flex-grow:1;
}

.box-child-5{
    flex-grow:1;
}